<header>
  <div class="top-bar">
    <%= link_to '' , groups_path , class: "fas fa-arrow-left" %>
    <h1 class='ml-4'> CREATE A GROUP </h1>
    <button class='formless-btn' type='submit' form='new-group-form'>Create</button>
  </div>
</header>
<main>
  <%= form_for @group, url: create_group_path , html: { class: 'form', id: 'new-group-form' } do |f| %>
    <%= f.text_field :name, placeholder: 'Group Name' %>
    <%# f.select :icon, options_for_select([["&#xf554;".html_safe, 'walking'],["&#xf84a;".html_safe, 'biking'],["&#xf6f0;".html_safe, 'horse'],["&#xf21c;".html_safe,'motorcycle'],["&#xf5e4;".html_safe,'car-side'],["&#xf239;".html_safe, 'subway'],["&#xf21a;".html_safe, 'ship'],["&#xf072;".html_safe,'plane'],["&#xf197;".html_safe,'space-shuttle']]), {}, { class: 'dropdown-icon' } %>
    <ul class="icon-select">
      <li>
        <%= f.radio_button :icon,  'walking '%>
        <%= f.label :icon, "<i class='fas fa-walking'></i>".html_safe, value: 'walking' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'biking '%>
        <%= f.label :icon, "<i class='fas fa-biking'></i>".html_safe, value: 'biking' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'horse '%>
        <%= f.label :icon, "<i class='fas fa-horse'></i>".html_safe, value: 'horse' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'motorcycle '%>
        <%= f.label :icon, "<i class='fas fa-motorcycle'></i>".html_safe, value: 'motorcycle' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'car-side '%>
        <%= f.label :icon, "<i class='fas fa-car-side'></i>".html_safe, value: 'car-side' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'subway '%>
        <%= f.label :icon, "<i class='fas fa-subway'></i>".html_safe, value: 'subway' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'ship '%>
        <%= f.label :icon, "<i class='fas fa-ship'></i>".html_safe, value: 'ship' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'plane '%>
        <%= f.label :icon, "<i class='fas fa-plane'></i>".html_safe, value: 'plane' %>
      </li>
      <li>
        <%= f.radio_button :icon,  'space-shuttle '%>
        <%= f.label :icon, "<i class='fas fa-space-shuttle'></i>".html_safe, value: 'space-shuttle' %>
      </li>
    </ul>
    <% end %>
  <div>
    <%= error_messages %>
  </div>
</main>