<h1>Create a Group</h1>

<%= form_for @group do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label :icon %> <br>
  <%= f.select :icon, options_for_select([["", 'walking'],["", 'biking'],["", 'horse'],["",'motorcycle'],["",'car-side'],["", 'subway'],["", 'ship'],["",'plane'],["",'space-shuttle']]), {}, { class: 'dropdown-icon' } %> <br>
  <%= f.submit 'Create' %>
<% end %>