<h1> <%= content_tag(:i, '', class: "fas fa-#{@group.icon}") %> <%= @group.name %> Transactions </h1>
<%= link_to 'New Transaction', new_transaction_path(group_id: @group.id) %>
<% @transactions.each do |transaction| %>
  <p>Name: <%= transaction.name %></p>
  <p>Amount: <%= transaction.amount %></p>
  <p>Creator: <%= transaction.user.name %></p>
  <p>Created_at: <%= transaction.created_at %></p> <br>
<% end %>
<%= link_to '<< Go Back', groups_path %>