<h1>Sign Up or Log In</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>
  <%= f.submit 'Log In', formaction: sessions_path %>
  <%= f.submit 'Sign Up' %>
<% end %>