<header>
  <div class="top-bar">
    <%= link_to '', url_for(show_menu: true, groupless: params[:groupless]), class: "fas fa-bars" %>
    <%= title %>
    <div class="fas fa-bars"></div>
  </div>
  <div class='sum'>
    <span class='name'>Total distance</span>
    <span class='amount'><%= @transactions.sum(:amount) %> KM</span>
  </div>
</header>
<main>
  <% @transactions.each do |transaction| %>
    <div class="transaction">
      <div class="line">
        <span class='name'><%= transaction.name %></span>
        <span class='date'><%= transaction.created_at.strftime("%d %b %Y") %></span>
      </div>
      <div class="line">
        <span class='amount'><%= transaction.amount %> KM</span>
        <span class='icon'><%= content_tag(:i, '', class: "fas fa-#{transaction.group.icon}") unless transaction.group.nil? %></span>
      </div>
    </div>
  <% end %>
</main>
<%= link_to new_transaction_path do %>
  <div class='outer-square'><div class='inner-square'><span>ADD NEW TRACK</span></div></div>
<% end %>