<!DOCTYPE html>
<html>
  <head>
    <title>RunnerCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4769bb681b.js"></script>
  </head>

  <body>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>
    <% if session[:user_id] %>
      <p>Hi, <%= current_user.name %></p>
      <%= link_to 'All my Transactions', user_path(current_user) %>
      <%= link_to 'All my External Transactions', user_path(current_user, groupless: true) %>
      <%= link_to 'All Groups', groups_path %>
      <%= link_to 'Log out', session_path(session[:session_id]), method: 'delete' %>
    <% end %>
    <%= yield %>
  </body>
</html>
