<!DOCTYPE html>
<html>
  <head>
    <title>Runner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4769bb681b.js"></script>
  </head>

  <body>
    <% if session[:user_id] %>
    <div class="user-menu" id='user-menu'>
      <div class="user-name">
        <span><%= current_user.name %></span>
      </div>
      <nav>
        <%= link_to 'ALL MY TRACKS', user_path(current_user) %>
        <%= link_to 'MY INDIVIDUAL TRACKS', user_path(current_user, groupless: true) %>
        <%= link_to 'ALL GROUPS', groups_path %>
        <%= link_to 'LOG OUT', session_path(session[:session_id]), method: 'delete' %>
      </nav>
    </div>
    <% end %>
    <div class='wrapper' id='wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
